@model st10157545_giftgiversPOEs.Models.Volunteers 

@{
    ViewData["Title"] = "Volunteer Details";
}

<h1>Volunteer Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.firstname @Model.lastname</h5>
        <p class="card-text"><strong>Age:</strong> @Model.age</p>
        <p class="card-text"><strong>Address:</strong> @Model.area</p>
        <p class="card-text"><strong>Email:</strong> @Model.email</p>
        <p class="card-text"><strong>Cell Number:</strong> @Model.phone</p>
         <p class="card-text"><strong>Status:</strong> @(Model.Status ? "Active" : "Inactive")</p>
         <a href="@Url.Action("Volunteers", "Admin")" class="btn btn-secondary">Back to List</a>
    </div>
</div>
